#mills {
	position: absolute;
	bottom: 0;
	z-index: 1;
}
#robot {
	position: absolute;
	bottom: -90px;
	left: 20px;
	-webkit-transition: all 1s ease-in;
	-moz-transition: all 1s ease-in;
	-o-transition: all 1s ease-in;
}
#text1 {
	position: absolute;
	bottom: 200px;
	left: 128px;
	z-index: 2;
	text-decoration: none;
	color: #C7C7C7;
	font: 48px sans-serif;
}
#hover1:hover #robot {
	-webkit-transform: translate(0,-350px);
	-moz-transform: translate(0,-350px);
	-o-transform: translate(0,-350px);
}