/*Author: Roscoe P**ll
  CIS 4004 body.css
  Setptember 2010
  body styles*/
  
/*These are the actual body elements for a webpage*/
#content{
	background: #ffffff;
	float: none;
	font-size: 16px;
	line-height: 1.3em;
	margin: 0 auto;
	padding-bottom: 40px;
	width: 900px;
	font-family: arial, sans-serif;
	color: #686868;
	font-weight: bold;
}

#content .bigger{
	margin: 20px;
	font-weight: bold;
	font-size: 1.5em;
}

#content .paragraph{
	text-indent: 20px;
	margin: 20px;
	width: 350px;
	text-align: center;
	float: right;
}

#content .aboutLeftPar{ 
	float: left; 
	text-align: left; 
	margin-top: 50px;
	margin-left: 40px; 
	width: 430px;
}

#content .picRightAbout{
	float: right;
	padding: 4px 0 4px 4px; 
	margin: 0; 
	background: #7092BE; 
	color: #FFFFFF; 
	text-align: center;
}

#content .pic{
	margin: 20px;
	padding: 6px 6px 0 6px;
}

#content #form{
	background-image: url("../images/gradient-form.jpg");
	margin: 50px auto;
	width: 600px;
	height: 240px;
}

#content #form *{
	font-family: arial, sans-serif;
	font-weight: bold;
	text-align: center;
	color: #686868;
}

#content #form select{
	width: 200px;
}

#content #form #submit{
	background: #FFC219;
	color: #21421E;
	border: 2px solid #21421E;
}

#content #form #reset{
	background: #FFC219;
	color: #8E2323;
	border: 2px solid #8E2323;
}

#content #form #fields{
	float: left;
	margin: 2em 1em 2em 2em;
}
#content #form #check{
	float: right; 
	margin: 2em 2em 0em 2em;
}

#content #form #radio{
	float: left; 
	margin: 0em;
}

#content #form #list{
	float: right; 
	margin: 0 2em;
	width: auto;
}

#content #form #buttons{
	clear: left; 
	float: left; 
	margin-left: 5em;
}

#content ul li a{
	text-decoration: none;
	color: #754038;
}
#flashContent { 
	clear: left;
	float: left;
	width:100%; 
	height:100%; 
}